.itemContainer {
  width: 50%;
  float: left;
  height: 100%;
  text-align: center;
}
.chooseMeBtn {
    width: 8%;
    position: relative;
    opacity: 0.5;
    margin: 0px auto;
    color: black;
    text-align: bottom;
}

.roundButtonCircle {
  a{
    color:black;
    font-weight: bolder;
    padding: 8px;
  }
  color: black;
  border-radius: 50%;
border:12px solid #cfdcec;
  overflow:hidden;
  background: #4679BD;
  box-shadow: 0 0 3px gray;
}
.roundButtonCircle:hover {
  a{
    color: black;
  }
background:#30588e;
}
